@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "PicNic";
    src: url("../../public/fonts/PicNic-Regular.otf");
  }

  @font-face {
    font-family: "Helvetica";
    src: url("../../public/fonts/Helvetica.ttf");
  }

  @font-face {
    font-family: "NaN Holo Mono Blonde";
    src: url("../../public/fonts/NaN-Holo-Mono-Blonde.ttf");
  }

  @font-face {
    font-family: "Suisse Intl Mono";
    src: url("../../public/fonts/Suisse-Intl-Mono.ttf");
  }

  h1 {
    @apply font-picnic text-2xl text-midnight-light md:text-4xl;
  }

  h2 {
    @apply text:xl pb-8 font-nhmb md:text-3xl;
  }

  h3 {
    @apply font-helvetica text-lg text-midnight-light md:text-2xl;
  }

  h4 {
    @apply font-helvetica text-base text-midnight-light md:text-lg;
  }

  p {
    @apply text-sm md:text-base;
  }

  body {
    @apply mx-auto mx-auto h-full leading-6;
  }

  body,
  main {
    @apply relative h-screen min-h-screen flex-row bg-white sm:flex sm:items-center;
  }
}
