@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "PicNic";
    src: url("../../fonts/PicNic-Regular.woff");
  }

  @font-face {
    font-family: "Helvetica";
    src: url("../../fonts/Helvetica.woff");
  }

  @font-face {
    font-family: "NaN Holo Mono Blonde";
    src: url("../../fonts/NaN-Holo-Mono-Blonde.woff");
  }

  @font-face {
    font-family: "Suisse Intl Mono";
    src: url("../../fonts/Suisse-Intl-Mono.woff");
  }

  h1 {
    @apply pb-6 font-sim text-2xl font-bold text-midnight-light md:text-4xl;
  }

  h2 {
    @apply pb-6 font-nhmb text-xl font-bold md:text-3xl;
  }

  h3 {
    @apply pb-6 font-helvetica text-lg font-bold text-midnight-light md:text-2xl;
  }

  h4 {
    @apply pb-6 font-helvetica text-base font-bold text-midnight-light md:text-lg;
  }

  p {
    @apply text-sm md:text-base;
  }

  body {
    @apply mx-auto mx-auto break-words;
  }

  body,
  main {
    @apply relative min-h-screen flex-row  bg-stone-50;
  }
}
